body
{ 
      margin-left:50px; 
}

#mainContent
{
    float: left;
    background-color: #e9f0f6;
    padding: 30px; 
    color: Gray;
}

#mainContent #bts,#submit
{
    float: right;
     margin-top:20px;
}
.date
{
    border: 1px solid #dddddd;
}
.txt
{
    width: 100px;
    height: 20px; 
    color: Gray;
    vertical-align: middle;
}
.txt_2
{
    width: 300px;
    height: 20px; 
    color: Gray;
    border: 1px solid #dddddd;
}

.time
{
    background-color:White;
    padding: 20px;
    color:Gray;
    width: 400px;
}
#mainContent tr
{
    padding-top: 10px;
    height:30px;
}

#right
{
    float:left; 
    color: Gray;
    margin-left: 30px;
    margin-top: 100px;
    font-size: 12px;
   
}

 