body
{
}

.title
{
    margin: 30px;
    font-size: 1.5em;
}
.info
{
    margin-bottom: 20px;
}

#left
{
    margin-left: 10%;
    float: left;
}
#right
{
    float: left;
     margin-left:40px;
     margin-top:30px;
}

 .section
{
    padding: 50px 20px 20px 20px;
    color: #ff0084;
    clear: both;
     font-size:.9em;
}
