<?xml version="1.0"?>
<configuration>
    <system.web>

    </system.web>
  <location path="IdeaDetail.aspx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="IdeaList.aspx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
</configuration>
