body
{
}

#nav
{
    margin-left: 30px;
    clear: both;
    padding-bottom:50px;
}

#nav ul
{
    list-style-type: none;
    margin: 10px;
    font-weight: bold;
}

#nav ul li
{
    float: left;
    margin-left: 10px;
    border-top-right-radius: 25px;
    border-top-left-radius: 25px;
}

#nav ul li a
{
    color: White;
    padding: 10px;
    background-color: #0073ea;
    border-top-right-radius: 25px;
    border-top-left-radius: 25px;
}
#nav ul li a:hover
{
    background-color: White;
    color: #ff0084;
    padding: 10px;
}

#nav ul li a:visited
{
    background-color: #0073ea;
    color: White;
    padding: 10px;
}

